site_name: arXiv info
site_url: https://info.arxiv.org/
docs_dir: source

# Forces links in the format /help/index.html instead of mkdocs default of /help
# This allows us serve as totally static with no support from a web server
use_directory_urls: false

plugins:
  - search
  - literate-nav:
      nav_file: SUMMARY.md
      implicit_index: true
theme:
  name: material
  features:
    - content.tooltips
        - navigation.path
        - navigation.indexes
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  logo: assets/arxiv-logo-one-color-white.svg
  custom_dir: overrides
  favicon: assets/favicon.png
extra_css:
  - stylesheets/extra.css
extra:
  homepage: https://arxiv.org
markdown_extensions:
  - attr_list
  - md_in_html
  - abbr
  - pymdownx.snippets

repo_name: GitHub
repo_url: https://github.com/arXiv/arxiv-docs
edit_uri: blob/develop/source

extra:
  analytics:
    provider: google
    property: G-B1RR0QKWGQ
