[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
markdown = "*"
arxiv-base = "*"
pyyaml = "*"
whoosh = "*"
bleach = "*"
uwsgi = "*"
"17e504d" = {path = "./../arxiv-base-ui"}


[dev-packages]

