[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markdown = "*"
pyyaml = "*"
whoosh = "*"
bleach = "*"
uwsgi = "*"
arxiv-base = "==0.12.1"
python-frontmatter = "*"
python-slugify = "*"
Pygments = "*"
prance = "*"
openapi-spec-validator = "*"
arxiv-auth = "==0.2.3"
"flask-s3" = "*"

[dev-packages]
