[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markdown = "*"
pyyaml = "*"
whoosh = "*"
bleach = "*"
uwsgi = "*"
arxiv-base = "==0.7.2"
python-frontmatter = "*"
python-slugify = "*"

[dev-packages]
