:root > * {
  /*arXiv brand colors*/
  --color-library-grey: #6b6459;
  --color-cornell-red:  #b31b1b;
  --color-publishing-pink:  #fb595a;
  --color-warm-wash:    #f9f7f7;
  --color-archival-blue:  #1f5e96;
  --color-open-blue:    #a5d6fe;
  --color-open-blue-dark: #688ED9;
  --color-open-blue-darker: #787CDD;
  --color-cool-wash:    #f7fafc;
  --color-access-lime:  #c4d82e;
  --color-links:        #1e8bc3;
  /*fonts*/
  --md-text-font: "freight-sans-pro";
  --md-code-font-family: monospace;
  /*default theme colors*/
  --md-primary-fg-color:  var(--color-cornell-red);
  --md-primary-fg-color--light: var(--color-access-lime);
  --md-primary-fg-color--lightest:  var(--color-warm-wash);
  --md-primary-fg-color--dark:  var(--color-library-grey);
  --md-typeset-color:     black;
  --md-typeset-a-color:   var(--color-links);
  --md-accent-fg-color:   var(--color-archival-blue);
  --md-accent-bg-color:   var(--color-cool-wash);
  --blockquote-fg-color:  black;
  --blockquote-bg-color:  var(--md-primary-fg-color--lightest);
  --md-code-fg-color:     black;
  --md-code-bg-color:     var(--color-access-lime);
  --footer-fg-color:  black;
  --footer-bg-color:  var(--md-primary-fg-color--lightest);
  --shadow:           var(--color-open-blue);
}
/* slate theme (dark mode) */
[data-md-color-scheme="slate"] {
  --md-hue: 35;
  --md-default-bg-color:  hsla(var(--md-hue),10%,10%,1);
  --md-typeset-color:     var(--color-warm-wash);
  --md-accent-fg-color:   var(--color-open-blue);
  --md-accent-bg-color:   hsla(var(--md-hue),10%,7%,1);
  --md-code-fg-color:     var(--color-access-lime);
  --md-code-bg-color:     black;
  --blockquote-fg-color:  var(--md-primary-fg-color--lightest);
  --blockquote-bg-color:  hsla(var(--md-hue),10%,7%,1);
  --footer-fg-color:  var(--md-primary-fg-color--lightest);
  --footer-bg-color:  hsla(var(--md-hue),10%,7%,1);
  --shadow:           black;
}

body {
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.md-header__button.md-logo {
  margin: 0;
  padding: .35rem;
}
.md-header__button.md-logo img {
  height: 2rem !important;
}
.md-header__source {
  display: none !important;
}
p {
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
}
a { transition: all 1s ease-in-out; }
a:hover, a:focus {
  outline-color: var(--md-accent-fg-color);
  outline-offset: 2px;
}
.md-content a { text-decoration: underline; }
.md-content a:hover, .md-content a:focus { text-decoration: none; }
a:hover { transition: all 0.5s;}
.md-typeset hr { margin: 1em 0 !important; }
h1, h2, h3, h4, h5 {
  font-family: freight-sans-pro, sans-serif;
}
h2 { margin-top: 1em !important; }
.intro { font-size: 1.5em; font-family: freight-text-pro, serif; }
.floatl { float: left; }
.floatr { float: right; }
.center { text-align: center; }
.margin0 {margin: 0 !important; }
.margin5 { margin: 0 5px !important; }

/*BUTTONS*/
a.button-large, a.button-reg {
  -webkit-box-shadow: 0px 3px 6px 0px var(--shadow);
  -moz-box-shadow: 0px 3px 6px 0px var(--shadow);
  box-shadow: 0px 3px 6px 0px var(--shadow);
  display: inline-block;
  padding: .25em 1em;
  border-radius: .3em;
  margin-right: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  background-color: var(--md-accent-bg-color);
  border: 2px solid var(--md-accent-fg-color);
  text-decoration: none;
}
a.button-reg {
  font-size: 1em;
}
a.button-large:hover, a.button-reg:hover {
  border-color: var(--md-accent-fg-color);
  -webkit-box-shadow: 0px 3px 6px 2px var(--shadow);
  -moz-box-shadow: 0px 3px 6px 2px var(--shadow);
  box-shadow: 0px 3px 6px 2px var(--shadow);
}
.mkd-border {
  border: solid .15em #ededed;
}
.mkd-horz-spacing {
  margin-right:1em;
  margin-left:1em;
}

/*HEADER AREA*/
.attribution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: .25em 1em;
}
.attribution p.sponsors {
 display: block;
 max-width: 400px;
 font-size: 1.4em !important;
 font-family: freight-sans-pro, sans-serif;
 font-weight: 600;
 line-height: 1.5;
 margin:.5em;
 text-align: right;
}
.attribution p.sponsors a {
 color: #f9f7f7 !important;
 max-width: 400px;
 text-decoration: none;
}
.attribution p.sponsors a:hover {
  text-decoration: underline;
  color: white !important;
}
@media all and (max-width: 576px) {
  .attribution {
    flex-direction: column;
    flex-flow: column;
  }
  .attribution p {
    text-align: center;
    margin: 1em 2em .5em 2em;
  }
}

/*NAVIGATION*/
nav.md-nav.md-nav--primary .md-nav__list .md-nav__item label,
nav.md-nav.md-nav--primary .md-nav__list .md-nav__item a {
  font-weight: 600;
}
nav.md-nav.md-nav--primary .md-nav__list .md-nav__item nav.md-nav .md-nav__list label,
nav.md-nav.md-nav--primary .md-nav__list .md-nav__item nav.md-nav .md-nav__list a {
  font-weight: 500;
}
@media all and (min-width: 960px) {
  nav.md-nav.md-nav--secondary nav.md-nav .md-nav__item {
    padding: 0;
  }
}

@media all and (min-width: 1220px) {
  nav.md-nav.md-nav--primary .md-nav__title {
    display: none;
  }
  nav.md-nav.md-nav--primary .md-nav__list .md-nav__item.md-nav__item--active.md-nav__item--nested label {
    color: var(--md-typeset-a-color);
    font-weight: 700;
  }
}

/*MAIN CONTENT AREA*/
.md-content .md-content__inner.md-typeset {
  font-size: .85rem;
  font-weight: 500;
}
@media all and (min-width: 960px) {
  .md-content {
    margin-bottom: 6em;
  }
}

/*ARXIV FOOTER*/
.arxiv-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--footer-bg-color);
  padding: 0 1em;
}
.arxiv-footer .column {
  padding: 0.75rem;
  width: 25%;
}
.arxiv-footer .column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.arxiv-footer .column ul li {
  line-height: 2em;
  color: var(--footer-fg-color) !important;
}
.arxiv-footer .column ul li a {
  color: var(--footer-fg-color) !important;
  text-decoration: none !important;
  border-bottom: 1px solid transparent;
}
.arxiv-footer .column ul li a:hover {
  color: var(--footer-fg-color) !important;
  border-bottom: 1px dotted #005e9d;
  text-decoration: none;
}
.arxiv-footer .column ul li, .arxiv-footer .column ul li a {
  font-size: 1.2em;
}
.arxiv-footer .icon.filter-black {
  fill: var(--footer-fg-color);
}
.arxiv-footer .help {
  font-size: 1em;
}
.arxiv-footer .a11y-main-link {
  font-size: 1.15em;
}
.arxiv-footer .sorry-app-links svg.icon {
  margin-bottom: -2px !important;
  color: var(--footer-fg-color);
}
.arxiv-footer .sorry-app-links .a11y-main-link svg.icon {
  margin-bottom: -3px !important;
}
@media all and (max-width: 576px) {
  .arxiv-footer {
    flex-direction: column;
    flex-flow: column;
  }
  .arxiv-column { width: 100%; }
}






/*classes for Images*/
.mkd-img-center { margin: 0 auto; display: block; }
.mkd-img-left {
  float:left;
  width:100%;
  margin-top:0;
  margin-bottom: 1em;
}
.mkd-img-right {
  float:right;
  width:100%;
  margin-top:0;
}
.mkd-img-full {
  width:100% !important;
}
.mkd-img-60 {
  width:100% !important;
  margin:0 auto;
  display:block;
}
.mkd-img-50 {
  width:100% !important;
  margin:0 auto;
  display:block;
}
.mkd-img-thumb {
  max-width:80px !important;
}
.mkd-img-icon {
  border-radius:50%;
  width:120px;
}
@media (min-width: 576px) {
  .mkd-img-left {
    width:calc(50% - 1.25em);
    margin-right:1em;
  }
  .mkd-img-right {
    width:calc(50% - 1.25em);
    margin-left:1em;
  }
  .mkd-img-60 {
    width:60% !important;
    margin:0 auto;
    display:block;
  }
  .mkd-img-50 {
    width:50% !important;
    float:left;
    margin:0 auto;
    display:block;
  }
}

/*half-screen Ordered Lists*/
.mkd-ordered-list-blocks ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mkd-ordered-list-blocks ol li {
  width: 100%;
  margin: 0 0 1em 0 !important;
  padding:1em;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  min-height:90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
}
.mkd-ordered-list-blocks ol li img {
  height:40px;
  display:block;
  margin:1em auto 0 auto;
}
.mkd-ordered-list-blocks ol li em, .mkd-ordered-list-blocks ol li strong, .mkd-ordered-list-blocks ol li h3 {
  display: contents;
}
@media (min-width: 576px) {
  .mkd-ordered-list-blocks ol li {
    width: calc(50% - .5em);
  }
}

/*Pre and code blocks*/
.md-typeset pre>code {
  padding: 1.5em 1em;
}
pre .md-clipboard {
  color: var(--md-code-fg-color);
  opacity: 0.3;
}
/*Blockquotes*/
.md-typeset blockquote {
  margin: 0 !important;
  padding: 1em !important;
  border-left: 0 !important;
  background-color: var(--blockquote-bg-color);
  color: var(--blockquote-fg-color);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
}
blockquote strong {
  font-size: 18px;
}
@media (min-width: 576px) {
  blockquote {
    padding: 2em;
  }
}

/*Labs colorful block list*/
ol.color-blocks {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
ol.color-blocks li {
  width: 100%;
  padding:1em;
  margin: 1em 0 !important;
  -webkit-box-shadow: 0px 3px 8px 0px var(--shadow);
  -moz-box-shadow: 0px 3px 8px 0px var(--shadow);
  box-shadow: 0px 3px 8px 0px var(--shadow);
  min-height:90px;
  font-size: 1.1em;
  background-color: var(--md-accent-bg-color);
}
ol.color-blocks li strong {
  font-size: 20px;
}
ol.color-blocks li:nth-child(1) {
  border: 5px solid #a5d6fe;
}
ol.color-blocks li:nth-child(2) {
  border: 5px solid #fb5951;
}
ol.color-blocks li:nth-child(3) {
  border: 5px solid #7c7469;
}
ol.color-blocks li::after {
  content: "";
  margin: 0;
}
ol.color-blocks li img {
  height:40px;
  display:block;
  margin:1em auto 0 auto;
}
@media (min-width: 576px) {
  ol.color-blocks li {
    /* width: calc(33% - 10px); */
  }
}


/* simple CSS grid with box shadow around child blocks */
.grid-blocks {
  margin: 0 auto;
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
.block {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  padding: 1em;
}
.block h2, .block h3 {
  margin-top: 0 !important;
  margin-bottom: .25em;
}
.shadow {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
}



/* accessibility report */
.a11y-report {
  font-family: freight-text-pro, serif;
}
.a11y-report .bold-paper-title {
  font-weight: bold;
  font-family: freight-text-pro, serif;
  text-align: center;
}
.a11y-report .abstract-intro {
  font-family: freight-text-pro, serif;
  line-height: 2em;
}
.a11y-report .authors {
  text-align: center;
  line-height: 1.25em;
}
.a11y-report .section-head {
  display: block;
  border-top: 1px solid #b31b1b;
  padding: .5em 0 0 0;
  font-size: 1.25em;
  font-family: freight-text-pro, serif;
  font-style: italic;
}
.a11y-report .section-summary {
  font-style: italic;
  font-family: freight-text-pro, serif;
}
.a11y-report blockquote {
  background: transparent !important;
}
.a11y-report blockquote strong {
  font-size: 1.6em;
  font-family: freight-text-pro;
  font-weight: 500;
}
@media (min-width: 576px) {
  .a11y-report .abstract-intro, .a11y-report .authors, .a11y-report .bold-paper-title {
    margin: 0 4em 2em 4em;
  }
  .a11y-report blockquote {
    padding: 1.5em 2.5em !important;
  }
}


/*Brand TOC*/
.brand-toc {
  margin: 0 auto;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.brand-toc .card {
  padding: 0;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
}
.brand-toc .card a {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 1.25em;
  color: #6b6459 !important;
  display: block;
  overflow: hidden;
}
.brand-toc .card a:hover {
  color: #fb595a !important;
}
.brand-toc .card img {
  width:100%;
  object-fit: cover;
  margin-bottom: -60px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.5s;
  display: none;
}
.brand-toc .card a:hover > img {
  -webkit-transform: scale(1.3) rotate(0.01deg);
  transform: scale(1.3) rotate(0.01deg);
}
.brand-toc .card span {
  padding: 10px 12px;
  background-color: white;
  text-align: center;
  display:block;
}
@media (min-width: 576px) {
  .brand-toc .card span {
    position:relative;
    opacity: .85;
  }
  .brand-toc .card img {
    display: block;
  }
}


/*Brand colors*/
ul.brand-colors {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
ul.brand-colors li {
  width: 100%;
  padding: 0;
  margin: .35em 0 !important;
}
ul.brand-colors li .color {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  width: 100%;
  height: 100px;
}
ul.brand-colors li .text {

}
@media (min-width: 576px) {
  ul.brand-colors li {
    width: calc(25% - 10px);
    margin: .35em 10px 0 0 !important;
  }
}
