h1.intro {
	position: absolute;
	margin-left: 43px;
	margin-top: 0px;
	padding-top: 15px; 
	font-size: 35pt;
	font-family: sans;
	color: #50A050;
	background-color: transparent;
	}

h2 {
	padding-top: 1ex;
	padding-bottom: .5ex;
   border-bottom: 3px solid;
   border-color: #3030a0;
	}

body {
	margin-left: 10%;
	margin-right: 10%;
}

div.editor {
   text-align: left;
   margin-bottom: 1ex;
	margin-left: 4ex;
}

div.lastupdate {
	text-align: right;
	margin-bottom: 2ex;
}

div.abstract {
   font-style: italic;
	margin-left: 30%;
}

div.answer {
   margin-bottom: 1ex;
}

code.texfrag {
   display: block;
   border: 1px solid;
   border-color: #a0a0a0;
   padding: 4px;
   white-space: pre;
	margin-left: 5em;
	margin-top: 2ex;
	margin-bottom: 2ex;
}

