{%- extends "base/base.html" %}

{% macro render_project(project) %}
<article class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column is-narrow-tablet">
        <p class="image is-128x128" style="border: 1px solid gray"><img src="{{ project.data.thumbnail }}" alt="" /></p>
      </div>
      <div class="column is-one-third-desktop is-one-half-tablet">
        <h2>{{ project.title }}</h2>
        <span class="label">Collaborator{%- if project.data.collaborators|length > 1 -%}s{%- endif -%}: </span>
        {% for collaborator in project.data.collaborators %}
        <p>{{ collaborator.name }}<br />
        <em>{{ collaborator.association }}</em></p>
        {% endfor %}
      </div>
      <div class="column">
        <p>{{ project.data.content }}</p>
      </div>
    </div>
    <p class="has-text-right"><span class="has-text-weight-bold">
      Code: </span>{{ project.data.repo }}</p>
  </div>
</article>
{% endmacro %}

{% block content %}
<h1>arXiv Labs</h1>
  <p>arXiv is surrounded by a community of researchers and developers working at the cutting edge of information science and technology.</p>
  <p>While the arXiv team is focused on our core mission—providing rapid dissemination of research findings at no cost to readers and submitters—we are excited to be experimenting with a small number of collaborators on projects that add value for our stakeholders and advance research.</p>
  <p>Here are some of the projects that our collaborators are working on right now.</p>
  {{ render_project(components.labs.projects.bibliographic_overlay) }}
  {{ render_project(components.labs.projects.HTML5_readability) }}

{% endblock %}
