steps:
  - name: 'astral/uv:python3.11-bookworm'
    entrypoint: 'bash'
    args:
      - "-c"
      - |
        ./make_arxiv_theme/prep_for_mkdocs.sh
        uv run mkdocs build

  - name: 'gcr.io/cloud-builders/gsutil'
    args: ['-m', 'rsync', '-r', '-d', 'site/', 'gs://arxiv-docs-prs/$BRANCH_NAME/']
