
steps:
  - name: 'python:3.9-bullseye'
    entrypoint: 'bash'
    args:
      - "-c"
      - |
        pip install git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
        pip install -r requirements.txt
        mkdocs build

  - name: 'gcr.io/cloud-builders/gsutil'
    args: ['-m', 'rsync', '-r', '-d', 'site/', 'gs://arxiv-docs-prs/$BRANCH_NAME/']

